asgiref==3.11.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.3
django-allauth==65.15.0
django-cors-headers==4.9.0
django-debug-toolbar==6.2.0
django-environ==0.13.0
django-filter==25.2
djangorestframework==3.17.1
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
pip_search==0.0.14
psycopg2-binary==2.9.11
Pygments==2.20.0
requests==2.33.1
rich==14.3.3
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
